version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    target-branch: "main"
    versioning-strategy: increase
    open-pull-requests-limit: 100
    schedule:
      interval: monthly
      timezone: "Asia/Calcutta"
    groups:
      dependencies:
        update-types: ['major', 'minor', 'patch']

  - package-ecosystem: "maven"
    directory: "/java-test/nexus/with-gpg"
    target-branch: "main"
    open-pull-requests-limit: 100
    schedule:
      interval: quarterly
      timezone: "Asia/Calcutta"
    groups:
      production:
        dependency-type: "production"

  - package-ecosystem: "maven"
    directory: "/java-test/nexus/with-profiles"
    target-branch: "main"
    open-pull-requests-limit: 100
    schedule:
      interval: quarterly
      timezone: "Asia/Calcutta"
    groups:
      production:
        dependency-type: "production"

  - package-ecosystem: "maven"
    directory: "/java-test/nexus/without-gpg"
    target-branch: "main"
    open-pull-requests-limit: 100
    schedule:
      interval: quarterly
      timezone: "Asia/Calcutta"
    groups:
      production:
        dependency-type: "production"

  - package-ecosystem: "maven"
    directory: "/java-test/central"
    target-branch: "main"
    open-pull-requests-limit: 100
    schedule:
      interval: quarterly
      timezone: "Asia/Calcutta"
    groups:
      production:
        dependency-type: "production"

  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "main"
    open-pull-requests-limit: 100
    schedule:
      interval: monthly
      timezone: "Asia/Calcutta"
    groups:
      production:
        dependency-type: "production"
